<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @bloodpressure.date.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Systolic:</strong>
  <%= @bloodpressure.systolic %>
</p>

<p>
  <strong>Dystolic:</strong>
  <%= @bloodpressure.dystolic %>
</p>

<p>
  <strong>Measuring Unit:</strong>
  <%= @bloodpressure.measuredd %>
</p>


<%= link_to 'Edit', edit_bloodpressure_path(@bloodpressure) %> |
<%= link_to 'Back', bloodpressures_path %>
